@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  letter-spacing: 1px;
}
